html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border: 1px solid lightgray;
}

tbody {
  border-bottom: 1px solid lightgray;
  
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  width: 100%;
  
}
table thead th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #eee;
  padding: 8px;
}
table tbody td {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #f0f0f0;
  padding: 8px
}
table th:last-child,
table td:last-child {
  border-right: none;
}


table tbody tr:nth-child(even) {
    background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

table tbody tr:hover {
    cursor: pointer;
    background-color: #d8d8d8;
}